// Font Families 
$open-sans: "Open Sans", sans-serif;
$montserrat: "Monstserrat", sans-serif;

// Font Weight
$regular: 400;
$medium: 500;
$bold: 700;

// Font Sizes
$large: 24px;
$normal: 18px;
$small: 14px;
$x-small: 12px;

// Color Scheme
$white: #FFF;
$gray: #BEC1BB;
$platinum: #797a79;
$coral: #EF6461;
$light-blue: #92DCE5;

