.main {
    margin-bottom: 20px;

    h1 {
        font-size: $large;
        font-weight: $medium;
        padding: 30px 0;
    }

    &__item__info {
        padding: 10px 0;

        h3 {
            font-size: $normal;
            font-weight: $bold;
        }
    
        p {
            color: $platinum;
            font-size: $small;
            font-weight: $medium;
            padding-bottom: 20px;
        }
    }

    &__item__thumbnail {
        width: 100%;
        height: 25vh;
    }
}

@media (max-width: 768px) {
    .main h1 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .main__item__thumbnail {
        height: 40vh;
    }
}
