.contenedor__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;

    &__icons ul {
        display: flex;
        list-style: none;
    }
}

@media (max-width: 768px) {

    
    
}

